/* Dependencias */
@font-face {
    font-family: 'icomoon';
    src: url('../icon-search/icomoon.eot?t7848b');
    src: url('../icon-search/icomoon.eot?t7848b#iefix') format('embedded-opentype'), url('../icon-search/icomoon.ttf?t7848b') format('truetype'), url('../icon-search/icomoon.woff?t7848b') format('woff'), url('../icon-search/icomoon.svg?t7848b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
}

/* Código fuente */
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    background-color: white;
    grid-template-areas: ". title ." ". form ." ". add ." ". list .";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20vh 10vh 10vh;
}

/* Title */
.title {
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
    grid-area: title;
    justify-self: center;
    align-self: center;
    margin: 0;
    height: 50%;
    background-image: url(../images/list.svg);
    background-repeat: no-repeat;
    padding-right: 1em;
    background-size: .5em;
    background-position-x: 90%;
    /* color: #ea4335; */
    color: #fbbc05;
}

/* Search */
.form {
    width: 80%;
    height: 3.5em;
    grid-area: form;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.form-search {
    width: 85%;
    border: 1px solid black;
    border-right: none;
    padding-left: 2em;
    font-size: 2em;
}

.form button {
    width: 15%;
    height: 100%;
    background: white;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    background: #4285f4;
    border-bottom: 4px solid #0759E4;
    border-right: 4px solid #0759E4;
    color: white;
    font-size: 1.2em;
}

.form button:active {
    border: none;
    border: 1px solid black;
    border-left: none;
}

.form img {
    width: 2em;
}

/* Botón añadir */
.button-add {
    grid-area: add;
    background: none;
    height: 80%;
    justify-self: center;
    align-self: center;
    padding: 0;
    border: 0;
    height: 3em;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.button-add:focus {
    outline: none; 
    /* Para quitar el borde que queda tras pulsar el botón */
}

.button-add img {
    width: 3em;
}

.button-add:active img {
    transform: scale(.5);
}

/* Lista */
.list {
    grid-area: list;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Tareas */
.task {
    width: 80%;
    height: 3.5em;
    display: grid;
    grid-template: "task-check task-description task-date task-remove";
    grid-template-columns: 10% 65% 20% 5%;
    margin: 0;
    margin-bottom: 2em;
}

.task.done {
    background-color: #34a85359;
}

.task-check {
    grid-area: task-check;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-right: none;
    cursor: pointer;
    background-image: url(../images/uncheck.svg);
    background-size: 2em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.task-check:hover {
    cursor: pointer;
}

.task-check.done {
    background-image: url(../images/check.svg);
    background-color: white;
}

.task-description {
    grid-area: task-description;
    padding-left: 2em;
    font-size: 1em;
    border-width: 2px;
    border-color: black;
    background-color: inherit;
}

.task-description:focus {
    outline: none;
}

.task-date {
    grid-area: task-date;
    font-family: 'Roboto', sans-serif;
    border-width: 2px 2px 2px 0;
    border-color: black;
    background-color: inherit;
}

.task-remove {
    grid-area: task-remove;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

.task-remove img {
    width: 2em;
    height: 2em;
    transition-duration: 1s;
    display: none;
}

.task-remove.show img {
    display: block;
}

.task-remove:active {
    transform: scale(.5);
}